/* Shared Styles */
:root {
    --primary-color: #FF42A5;
    --black-color: #0B0223;
    --white-color: #ffffff;
    --description-color: #534C64;
    --background-color: #fff9fc;

}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans";
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 3rem;
    padding: 15px 30px;
    border: none;
    margin-top: 30px;
}

.btn-rogue {
    background-color: #4EC5F7;
    margin-left: 20px;
}

.btn-primary a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Header Styles */
.navbar-container {
    padding: 30px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    display: flex;
    align-items: center;
}

.site-title img {
    width: 60px;
    margin-right: 10px;
}

.site-title h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

.site-title span {
    color: var(--primary-color);
}

/* Nav Bar Style */
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav li a {
    color: var(--description-color);
    text-decoration: none;

}

.follow-button {
    padding: 10px 13px;
    border-radius: 7px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 18px;
}

.follow-button i {
    margin-left: 10px;
    color: red;
}

/* Banner Section Design */
.banner-background {
    background-image: url('/images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 55%;
    /* padding: 100px 180px; */

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 4rem 0;
}

.banner-items {
    width: 50%;

}

.banner-getting {
    color: var(--black-color);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 5rem;
    font-weight: 700;
}

.banner-list {
    color: var(--description-color);
}

.banner-list li {
    list-style: none;
    font-size: 1.3rem;
    margin-top: 10px;
}

.banner-list li i {
    margin-right: 10px;
}

.banner-img {
    width: 100%;
}

/* We Are Gamer Section */
.gamer-section {
    background-color: var(--background-color);
    padding: 100px 0px;
}

.gamer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer-image {
    width: 800px;
}

.gamer-content {
    text-align: right;

}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
}

.gamer-description {
    color: var(--description-color);
    font-size: 1.1rem;
    margin-top: 15px;
}


/* Online Funny Videos Section Style */
.funny-videos {
    padding: 100px 0 120px 0;
    margin: 0 auto;
}

.videos-title {
    color: var(--black-color);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.videos-description {
    color: var(--description-color);
    text-align: center;
    font-size: 1.2rem;
}

.videos-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin: 3rem;
}

.videos-box {
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: 50px;
}

.videos-box img {
    width: 100%;
    height: 100%;
}

.video-play-icons {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;

}

.videos-box:hover .video-play-icons {
    opacity: 1;
}

.video-play-icons i {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.video-play-icons p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);

}

.videos-box-description {
    color: var(--description-color);
    font-size: 1rem;
    margin-top: 1rem;
}


/* Download Section Styles */
.download-section {
    margin: 100px auto;
}

.download-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.right-space {
    margin-right: 70px;
}

.download-items h2 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.download-items p {
    color: var(--description-color);
    text-align: right;
    font-size: 1.1rem;

}

.download-images {
    width: 80%;
    height: 80%;
    position: relative;
    padding: 0 0 80px 80px;

}

.back-image {
    width: 100%;
    height: 100%;
}

.download-images img {
    width: 100%;

}

.download-small-image {
    width: 40%;
}

.download-small-image {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Careers Section Styles */
.career-section {
    background-image: linear-gradient(to right, #FF4DAA 60%, #fad9ef 100%);
    padding: 50px 0px;
}

.career-container {
    display: flex;
    align-items: center;
    flex: 1;

}

.career-box {
    width: 50%;
}

.career-list-items {
    display: flex;
    justify-content: space-between;


}

.career-right-image {
    width: 100%;
}

.career-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.career-description {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 20px;
}

.career-list-items ul {
    color: #FFF;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 400;
}

.career-list-items li {
    list-style: none;
    margin-top: 15px;
}

.career-right-list-item {
    text-align: right;
}

.white-btn {
    background-color: var(--white-color);
}

.white-btn a {
    color: var(--primary-color);
    font-size: 1rem;
}

/* Games Links Section Styles */
.game-icon-section {
    padding: 150px 0;
    background-color: var(--background-color);
}

.games-links-container,
.games-icon-badget {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;

}

.games-icon-badget {
    padding: 10px 20px;
    border: 1px solid #Fff;
    border-radius: 100px;
    background-color: #fff;
}

.games-icon-badget:hover {
    border: 1px solid var(--primary-color);

}

.games-icon-badget:hover h3 {
    color: var(--primary-color);
}

.games-icon-badget img {
    width: 2rem;
    height: 2rem;

}

.games-icon-badget h3 {
    font-size: 1rem;
    font-weight: 600;

}

/* Footer Section Styles */
.footer {
    padding: 100px 0;
    background-color: #0B0223;
}

.footer-logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-logo h1 {
    color: var(--white-color);
}

.footer-logo span {
    color: var(--primary-color);
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-nav li {
    list-style: none;
}

.footer-nav a {
    color: var(--white-color);
    font-size: 1.2rem;
    text-decoration: none;
}

.social-icons {
    text-align: center;
    margin: 30px;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 20px;
}

.social-icons i {
    color: var(--white-color);
}

.policey-nav a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: normal;
    text-align: center;
}

.copyright {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    margin-top: 70px;
    text-align: center;
}




/* Responsive Styles for Mobile and Tablet */
/* Mobe Responsives */
@media screen and (max-width: 576px) {
    .btn-primary a {
        font-size: 1.1rem;
        width: 500;
    }

    .navbar {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    nav li {
        margin-right: 0px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 0;

    }

    .banner-getting {
        font-size: 1.5rem;
    }

    .banner-title {
        font-size: 2.3rem;
    }

    .banner-background {
        background-position: bottom left;
        background-size: 100%;
        /* padding: 100px 180px; */

    }

    .banner-items {
        width: calc(100% - 100px);
        padding: 25px;
    }

    .banner-list li {
        font-size: 1rem;
    }

    .gamer-section {
        padding: 40px;
    }

    .gamer-container {
        flex-direction: column;
        text-align: center;

    }

    .gamer-image {
        width: 100%;
    }

    .gamer-content {
        text-align: center;

    }

    .gamer-title {
        font-size: 2rem;
        margin-top: 20px;
        font-weight: 700;
    }

    .funny-videos {
        padding: 70px 30px 120px 30px;
        margin: 0 auto;
    }

    .videos-title {
        font-size: 1.8rem;
    }

    .videos-box {
        width: 100%;
        height: 300px;
        margin: 40px 0;
    }

    .videos-description {
        font-size: 1rem;
    }

    .videos-container {
        flex-direction: column;
        margin: 1.8rem;
    }

    .download-container {
        flex-direction: column;
        margin: 30px auto;
        width: calc(100% - 60px);
    }

    .right-space {
        margin-right: 0px;
    }

    .download-items h2 {
        text-align: center;
        font-size: 2rem;
    }

    .download-items p {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .download-images img {
        width: 80%;

    }

    .download-items {
        width: calc(100% - 60px);
    }

    .download-images {
        width: 100%;
        height: 100%;
        padding: 0 0 45px 45px;

    }

    .download-section {
        margin: 50px auto;
    }


    .career-section {
        background-image: linear-gradient(to right, #FF4DAA 60%, #FF4DAA 100%);
        padding: 50px;
    }

    .career-container {
        flex-direction: column;
    }

    .career-box {
        width: 100%;
        margin-bottom: 50px;
    }

    .career-description {
        font-size: 1rem;
        text-align: justify;
        margin-top: 15px;
    }

    .career-list-items ul {
        font-size: 13px;
        margin-top: 15px;
    }


    .game-icon-section {
        padding: 70px 30px;
    }

    .footer {
        padding: 100px 50px;
    }

    .footer-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        justify-content: center;
    }


    .footer-nav li {
        list-style: none;
    }

    .footer-nav a {
        font-size: 1rem;
        text-decoration: none;
    }

    .social-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin: 30px;
    }

    .social-icons a {
        font-size: 1.5rem;
        margin: 10px;
    }

    .policey-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (min-width: 576px) and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .btn-primary a {
        font-size: 1.1rem;
        width: 500;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    nav li {
        margin-right: 0px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0 auto;

    }

    .banner-getting {
        font-size: 1.5rem;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-background {
        background-position: bottom left;
        background-size: 100%;

    }

    .banner-items {
        width: calc(100% - 200px);
        padding: 50px;
    }

    .banner-list li {
        font-size: 1.5rem;
    }

    .banner-img {
        width: 70%;
    }

    .gamer-section {
        padding: 60px;
    }

    .gamer-container {
        flex-direction: column;
        text-align: center;
    }

    .gamer-image {
        width: 80%;
    }

    .gamer-content {
        text-align: center;
    }

    .gamer-title {
        font-size: 3rem;
        margin-top: 30px;
        font-weight: 700;
    }


    .videos-title {
        font-size: 2.3rem;
    }

    .videos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .download-container {
        flex-direction: column;
        margin: 40px;
    }

    .download-items h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    .download-items p {
        text-align: center;
        padding: 10px 30px 30px 30px;
    }

    .right-space {
        margin-right: 0px;
    }

    .career-section {
        background-image: linear-gradient(to right, #FF4DAA 60%, #FF4DAA 100%);
        padding: 80px;
    }

    .career-container {
        flex-direction: column;
    }

    .career-box {
        width: 100%;
        margin-bottom: 50px;
    }

    .career-description {
        font-size: 1.1rem;
    }

    .game-icon-section {
        padding: 100px 40px;
    }

    .footer {
        padding: 100px 50px;
    }

    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

}